blinker           == 1.6
absl-py           == 1.4
click             == 8.1
Flask             == 2.3
Flask-Cors        == 3.0
Flask-SQLAlchemy  == 3.0
greenlet          == 2.0
itsdangerous      == 2.1
Jinja2            == 3.1
MarkupSafe        == 2.1
numpy             == 1.25
ortools           == 9.6
pandas            == 2.0
pip               == 22.0
protobuf          == 4.23
python-dateutil   == 2.8
pytz              == 2023
scipy             == 1.11
setuptools        == 59.6
six               == 1.16
SQLAlchemy        == 2.0
typing_extensions == 4.6
tzdata            == 2023
Werkzeug          == 2.3