blinker           == 1.*
absl-py           == 1.*
click             == 8.*
Flask             == 2.*
Flask-Cors        == 3.*
Flask-SQLAlchemy  == 3.*
greenlet          == 2.*
itsdangerous      == 2.*
Jinja2            == 3.*
MarkupSafe        == 2.*
numpy             == 1.*
ortools           == 9.*
pandas            == 2.*
pip               == 22.*
protobuf          == 4.*
python-dateutil   == 2.*
pytz              == 2023
scipy             == 1.*
setuptools        == 59.*
six               == 1.*
SQLAlchemy        == 2.*
typing_extensions == 4.*
tzdata            == 2023
Werkzeug          == 2.*